<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Surveillance</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
  <header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Ōkami Surveillance</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/logout/"><span class="glyphicon glyphicon-off"></span>Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
  </header>
<body>
  <div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	</div>
  <div class="jumbotron">
  <h1>Welcome {{ uname }}</h1>
  <p>Your Email is {{ email }}</p>
  <div class="card" style="width:400px">
   <img class="card-img-top" src="{{url_for('static', filename='cam.jpg')}}" alt="Card image" style="width:100%">
   <div class="card-body">
     <h4 class="card-title">Your Camera Feed</h4>
     <p class="card-text">Get Live Feed From Your Surveillance Cameras</p>
     <a href="#" class="btn btn-primary">Go Live!</a>
   </div>
 </div>
</div>
</div>
</body>
</html>
